<div class="jumbotron jumbotron-fluid">
  <div class="container">

    <p class="lead">City info</p>
  </div>
</div>
  <p> 

  City: <%= @city.name %><br/>

  <% @city.users.each do |user| %>
    <ul class="list-group">
      <li class="list-group-item active">User: <%= user.first_name %> <%= user.last_name %></li>
      <% user.gossips.each do |gossip| %>
        <li class="list-group-item"><%= gossip.title %> </li>
        <li class="list-group-item"><%= gossip.content %> </li>
        <% end %>
    </ul>
    <br/>
  <% end %>

  </p>

  